.box {
  display: flex;
  justify-content: center;
  gap: 1rem;

}
.item {
  display: flex;

  flex-direction: column;
  height: 100%;
  margin: auto;
  flex: 1;
  max-width: 600px;

}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 
}
