.dualInputRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.label {
  width: 100px;
  font-weight: bold;
}

.input {
  width: 100px;
  flex: 1;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
