.animationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  
}

.motionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.description {
 max-width: 1000px
}
