
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 3rem;
  text-align: center;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: auto;
  gap: 1.5rem;
  padding: 1rem;
}



.sectionTitle {
  grid-column: 1 / -1; 
  font-size: 1.5rem;
  font-weight: bold;
}
